{
  "extends": "airbnb-base",
  "env": {
    "browser": true
  },
  "rules": {
    "padded-blocks": 0,
    "max-len": [2, { "code": 150 }],
    "no-restricted-globals": [2, "error", "isFinite", "isNaN"],
    "no-restricted-properties": 0
  }
}
